.alt-header__column:last-child .fa-search {
  margin-right: 25px;
}

#chat-screen {
  background-color: #abc0d0;
  height: 300vh;
  /* position: relative; */
}

#chat-screen .status-bar {
  background-color: #abc0d0;
  z-index: 2;
}

#chat-screen .alt-header {
  z-index: 1;
  background-color: #abc0d0;
  top: 15px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}
@keyframes fadeIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.main-chat {
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 1s linear;
}

.chat__timestamp {
  color: white;
  background-color: var(--gray);
  opacity: 0.5;
  padding: 13px;
  border-radius: 20px;
  font-size: 13px;
  margin-bottom: 25px;
}

@keyframes fadeInLeft {
  from {
    transform: translateX(-60px);
    opacity: 1;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
@keyframes fadeInRight {
  from {
    transform: translateX(60px);
    opacity: 1;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.message-row {
  animation: fadeInLeft 1s linear;
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 30%;
  margin-right: 13px;
}
.message-author {
  opacity: 0.8;
  font-size: 15px;
  margin-bottom: 7px;
  display: block;
}

.message__info {
  display: flex;
  align-items: flex-end;
}

.message__bubble {
  background-color: white;
  padding: 11px;
  font-size: 18px;
  border-radius: 12px;
  border-top-left-radius: 0px;
  margin-right: 7px;
}

.message__time {
  opacity: 0.8;
  font-size: 15px;
  display: block;
  margin-right: 10px;
}
.message-row--own {
  justify-content: flex-end;
  animation: fadeInRight 1s linear;
}
.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 12px;
  border-top-right-radius: 0px;
}
/* .message-row--own .message__bubble {
  order: 1;
} */
.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.reply i {
  opacity: 0.7;
}

.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply .reply__column input {
  padding: 10px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -18px;
  top: 9px;
}

.reply__column:last-child > i {
  top: 12px;
  right: 20px;
}

.reply__column:last-child button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  top: 3px;
}
.reply__column:last-child button i {
  opacity: 1;
}
.reply__column:last-child button:focus,
.reply__column:last-child button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.5s linear;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 85vw;
  transform: translateX(-14%) translateY(-80px);
}
.reply:focus-within {
  transform: translateY(80px);
}
